@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Lato";
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1920px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.head {
  background: url("../img/bg_2.png") center/cover no-repeat;
  min-width: 100%;
  height: 800px;
}
@media (min-width: 1920px) {
  .head {
    background-position: 0 -100px;
  }
}

.head__menu {
  width: 38.875%;
  margin: 35px auto;
  margin-bottom: 0;
}
@media (max-width: 1024px) {
  .head__menu {
    width: 55%;
  }
}

.head-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 34.125%;
}

.head__text {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.2em;
  color: #4d4959;
  text-transform: uppercase;
}
@media (min-width: 1920px) {
  .head__text {
    font-size: 20px;
  }
}

@media (min-width: 1920px) {
  .head__logo {
    width: 15%;
  }
}

.news {
  background-color: #f7f7f7;
}

.news__container {
  max-width: 67.5%;
  margin: 0 auto;
}

.news-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 469px;
}

.title {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #353738;
}
@media (min-width: 1920px) {
  .title {
    font-size: 28px;
  }
}

.news__title {
  margin: 35px 0;
}

.news__text {
  font-size: 18px;
  line-height: 34px;
  color: #848789;
  text-align: center;
}
@media (min-width: 1920px) {
  .news__text {
    font-size: 28px;
    line-height: 45px;
  }
}

.photos {
  width: 100%;
}

.photos-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.photos__main-image {
  width: 66%;
  position: relative;
}
.photos__main-image img:first-child {
  position: absolute;
  top: 41%;
  left: 45%;
}
.photos__main-image img:nth-child(2) {
  width: 100%;
  min-height: 100%;
}
@media (max-width: 980px) {
  .photos__main-image {
    width: 100%;
  }
}

.photos__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 34%;
}
@media (max-width: 980px) {
  .photos__container {
    width: 100%;
  }
}

.photos__body {
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.photos__title {
  padding: 5.1666666667% 0 4.3333333333% 0;
}

.photos__text {
  font-family: "Lato";
  font-size: 16px;
  line-height: 30px;
  color: #848789;
  padding: 0 60px;
}
@media (min-width: 1920px) {
  .photos__text {
    font-size: 26px;
    line-height: 40px;
  }
}

.photos__line {
  margin: 6.6666666667% 0 9% 0;
  width: 13.125%;
  height: 1px;
  background-color: rgba(53, 55, 56, 0.2);
}

.photos__image {
  width: 100%;
}

.photos__image img {
  width: 100%;
}

.photos__down-image {
  width: 33%;
}
.photos__down-image img:nth-child(2) {
  min-height: 100%;
}
.photos__down-image img:nth-child(1) {
  height: 100%;
  width: 100%;
}
.photos__down-image .photos__background img {
  left: 30%;
  top: 44%;
  height: auto;
  width: auto;
}
@media (max-width: 980px) {
  .photos__down-image .photos__background img {
    left: 34%;
    top: 48%;
    width: 30%;
  }
}
@media (max-width: 980px) {
  .photos__down-image {
    width: 100%;
  }
}

.photos__down-container {
  width: 34%;
}
@media (max-width: 980px) {
  .photos__down-container {
    width: 100%;
  }
}

.social-networks {
  background-color: #f7f7f7;
}

.social-networks__container {
  margin: 0 auto;
  max-width: 87.5%;
}

.social-newtworks__row {
  height: 469px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-networks__icon {
  margin-bottom: 37px;
}

.social-networks__title {
  letter-spacing: 0.1em;
  text-transform: none;
  margin-bottom: 27px;
}
.social-networks__title span {
  font-weight: 300;
  color: #848789;
  text-transform: lowercase;
}

.social-networks__text {
  font-family: "Lato";
  font-size: 24px;
  line-height: 34px;
  font-style: italic;
  color: #848789;
  text-align: center;
}
@media (min-width: 1920px) {
  .social-networks__text {
    font-size: 35px;
  }
}

.social__networks__points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 68px 0 0 0;
}
.social__networks__points div:first-child {
  background-color: #a9afb3;
}
.social__networks__points div:last-child {
  margin-right: 0;
}

.social-networks__point {
  width: 11px;
  height: 11px;
  border: 1px solid #e2e2e2;
  border-radius: 50%;
  margin-right: 10px;
}
@media (min-width: 1920px) {
  .social-networks__point {
    width: 22px;
    height: 22px;
    margin-right: 20px;
  }
}

.images {
  margin-bottom: -1px;
}
.images img {
  width: 100%;
  height: 100%;
}

.images-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.images-row div:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.images-row div:nth-child(2) div {
  width: 50%;
}
.images-row div:nth-child(3) div:nth-child(1) {
  height: 100%;
  background: url("../img/content-images/shape_13_169.png") center no-repeat, url("../img/content-images/bg_170.png"), url("../img/content-images/rectangle_3_copy_4_141.png");
}
.images-row div:nth-child(3) div:nth-child(1) .images__text-row {
  background: none;
  margin-top: 31%;
  text-align: center;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: white;
}

.images__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 34%;
}

.images__dop-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.images__dop-row div {
  width: 50%;
}

.discover {
  background-color: #282f35;
}

.discover__container {
  height: 200px;
}

.discover-row {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.discover__button {
  width: 25.75%;
  height: 30%;
  border: 1px solid rgba(255, 255, 255, 0.49);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1920px) {
  .discover__button {
    height: 40%;
  }
}
.discover__button a {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.2em;
  color: white;
}
@media (min-width: 1920px) {
  .discover__button a {
    font-size: 28px;
  }
}

.mail__container {
  height: 469px;
}

.mail-row {
  width: 33.8125%;
  margin: 109px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mail__title {
  margin: 39px 0 0 0;
  text-align: center;
  font-size: 24px;
  line-height: 34px;
  font-style: italic;
  color: #848789;
}
@media (min-width: 1920px) {
  .mail__title {
    font-size: 33px;
  }
}

.mail__input {
  width: 100%;
  margin: 35px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mail__e-mail {
  display: inline-block;
  border: 1px solid #d3d7d9;
  width: 74.3068391867%;
  height: 69px;
  margin-right: 8px;
  padding: 0 0 0 28px;
}
.mail__e-mail::-webkit-input-placeholder {
  font-size: 20px;
  line-height: 24px;
  font-style: italic;
  color: #929292;
}
.mail__e-mail::-moz-placeholder {
  font-size: 20px;
  line-height: 24px;
  font-style: italic;
  color: #929292;
}
.mail__e-mail:-ms-input-placeholder {
  font-size: 20px;
  line-height: 24px;
  font-style: italic;
  color: #929292;
}
.mail__e-mail::-ms-input-placeholder {
  font-size: 20px;
  line-height: 24px;
  font-style: italic;
  color: #929292;
}
.mail__e-mail::placeholder {
  font-size: 20px;
  line-height: 24px;
  font-style: italic;
  color: #929292;
}
@media (min-width: 1920px) {
  .mail__e-mail::-webkit-input-placeholder {
    font-size: 27px;
  }
  .mail__e-mail::-moz-placeholder {
    font-size: 27px;
  }
  .mail__e-mail:-ms-input-placeholder {
    font-size: 27px;
  }
  .mail__e-mail::-ms-input-placeholder {
    font-size: 27px;
  }
  .mail__e-mail::placeholder {
    font-size: 27px;
  }
}

.mail__button {
  display: inline-block;
  width: 23.2902033272%;
  height: 69px;
  background-color: #64c29e;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  color: white;
}
@media (min-width: 1920px) {
  .mail__button {
    font-size: 30px;
  }
}

.foot {
  background-color: #f7f7f7;
}

.foot__container {
  width: 81.25%;
  margin: 108px auto;
}

.foot-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
}

.foot__address p {
  font-size: 13.9px;
  font-style: italic;
  color: #848789;
  line-height: 17px;
}
@media (min-width: 1920px) {
  .foot__address p {
    font-size: 18px;
  }
}
.foot__address p:first-child {
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
}
@media (min-width: 1920px) {
  .foot__address p:first-child {
    font-size: 22px;
  }
}

.foot__social-networks {
  margin: 0 -15px;
  margin-right: 35px;
}
.foot__social-networks img {
  margin: 0 15px;
}

.foot__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.foot__logo-text {
  margin: 0 8px 0 0;
  font-size: 13.9px;
  line-height: 17px;
  font-style: italic;
  color: #848789;
}
@media (min-width: 1920px) {
  .foot__logo-text {
    font-size: 18px;
  }
}